/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

html {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    word-spacing: 10px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

h1 {
    color: #FFF;
    font-size: 300%;
    font-weight: 700;
    transition: all 0.3s;
}

h2 {
    color: #262626;
    font-size: 250%;
    font-weight: 600;
}

h3 {
    font-size: 200%;
    font-weight: 500;
    color: #262626;
}

h4 {
    font-size: 180%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

p {
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

/* HEADER */

header {
    background-image: linear-gradient(rgba(241, 33, 33, 0.507), rgba(214, 206, 206, 0.521)) ,url(../img/capadocce.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 400px;
}


/* NAVBAR */



/* EUROPE */

#europ {
    background: linear-gradient(rgba(255, 0, 0, 0.521), rgba(128, 128, 128, 0.521));
    display: flex;
    align-items: center;
    width: 100%;
}

#europ h2 {
    margin-top: -20px;
    margin-bottom: 50px;
}

#europ img {
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #262626;
}

#europ .euro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#europ .euro i {
    perspective: 1000px;
    font-size: 120%;
    color: rgb(77, 100, 168);
    animation: globe 3s linear infinite;
}

@keyframes globe {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#europ p {
    max-width: 550px;
    margin: 20px;
    overflow: hidden;
}


/* MOYEN-ORIENT */

#orient .container-fluid {
    width: 100%;
    height: 100%;
    background-image: url(../img/desertdubai.jpg); /*rgba(229, 184, 145, 0.548), */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#orient .container-fluid .title {
    width: 100%;
}

#orient .container-fluid .title h2 {
    margin-top: 70px;
    margin-bottom: 130px;
}

#orient .cartes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#orient .cartes .round-card {
    background: rgba(255, 255, 255, 0.603);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    max-width: 650px;
    max-height: 360px;
    margin-bottom: 80px;
    box-shadow: 3px 3px 10px #262626;
    overflow: hidden;
}

#orient .cartes .round-card h3 {
    margin-bottom: -20px;
}

#orient .cartes .round-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #262626;
    margin-top: 50px;
}

#orient .cartes .round-card p {
    padding-top: 50px;
    margin-left: 0;
}


/* ASIE */

#asia {
    background: linear-gradient(rgba(255, 166, 0, 0.445), rgba(255, 255, 0, 0.432));
}

#asia .container-fluid {
    width: 100%;
    height: 100%;
}

#asia .container-fluid .title {
    width: 100%;
    max-height: 20%;
}

#asia .container-fluid .title h2 {
    margin-top: 70px;
}

#asia .container-fluid .asie {
    width: 100%;
    height: 80%;
}

#asia .container-fluid .cino img {
    width: 60%;
    height: 80%;
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 7px;
    object-fit: cover;
    box-shadow: 3px 3px 10px #262626;
}

#asia .container-fluid .cino h4 {
    position: absolute;
    top: 500px;
    left: 0;
    bottom: 0;
    right: 0;
}

/* AFRIQUE */

#africa  {
    background: linear-gradient(rgba(8, 138, 8, 0.486), #26262679);
}

#africa .container-fluid {
    width: 100%;
    height: 100%;
}

#africa .container-fluid .title {
    width: 100%;
    max-height: 20%;
}

#africa .container-fluid .title h2 {
    margin-top: 70px;
    margin-bottom: 60px;
}

#africa .cafrica {
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

#africa .cafrica img {
    max-height: 530px;
}

/* OCEANIE */

#oceania .container-fluid {
    width: 100%;
    height: 100%;
    background-image: url(../img/whiteheaven.jpg);       /*rgba(111, 163, 168, 0.548) */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#oceania .container-fluid .title {
    width: 100%;
}

#oceania .container-fluid .title h2 {
    margin-top: 70px;
    margin-bottom: 130px;
}

#oceania .cartes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oceania .cartes .round-card {
    background: rgba(255, 255, 255, 0.603);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    max-width: 650px;
    max-height: 360px;
    margin-bottom: 80px;
    box-shadow: 3px 3px 10px #262626;
    overflow: hidden;
}

#oceania .cartes .round-card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #262626;
    margin-top: 50px;
    overflow: hidden;
}

#oceania .cartes .round-card h3 {
    margin-bottom: -20px;
}

#oceania .cartes .round-card p {
    padding-top: 50px;
    margin-left: 15px;
}

/* AMERIQUE DU NORD */

#north {
    background: linear-gradient(rgba(12, 12, 87, 0.466), rgba(63, 61, 61, 0.438));
}

#north .container-fluid {
    width: 100%;
    height: 100%;
}

#north .container-fluid h2 {
    margin-top: 70px;
    margin-bottom: 150px;
}

#north .container-fluid .card {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    margin-left: 0px;
}

#north button {
    outline: none;
}

/* AMERIQUE DU SUD */

#south {
    background-image: url(../img/amazon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 90vh;
}

#south .container-fluid {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.445);
}

#south .container-fluid h2 {
    margin-top: 70px;
    margin-bottom: 80px;
}

#south .sud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#south .sud img {
    width: 230px;
    height: 230px;
    border-radius: 40%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.541);
    margin-bottom: 30px;
}

#south .sud h3 {
    margin-bottom: 35px;
    margin-top: -15px;
}

#south .sud p {
    max-width: 320px;
    margin-top: -30px;
}


/* FOOTER */

footer .foot {
    width: 100%;
    max-height: 10vh;
}

footer .foot .container-fluid .copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .foot .container-fluid .copyright .copy {
    font-size: 10px;
    margin-top: 30px;
    margin-left: -8px;
} 

/* CONTACT */

.contact {
    width: 100%;
    max-height: 90vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.623),rgba(128, 128, 128, 0.658)) ,url(../img/worldmap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.contact h2 {
    margin-top: 70px;
}

.contact form {
    width: 65%;
    margin: 100px auto;
    color: white;
    font-weight: 400;
}

.contact form textarea {
    max-height: 200px;
    margin-bottom: 40px;
}


/* GALLERY */

.gallery {
    background: rgba(208, 232, 240, 0.507);
}

.gallery h2 {
    margin-top: 70px;
    margin-bottom: 100px;
}

.gallery img {
    max-width: 350px;
    max-height: 280px;
    border-radius: 5px;
    margin: 20px 0 40px 50px;
    object-fit: cover;
}
