/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    word-spacing: 10px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

h1 {
    color: #FFF;
    font-size: 300%;
    font-weight: 700;
    transition: all 0.3s;
}

h2 {
    color: #262626;
    font-size: 250%;
    font-weight: 600;
}

h3 {
    font-size: 200%;
    font-weight: 500;
    color: #262626;
}

h4 {
    font-size: 180%;
    font-weight: 400;
    color: #FFF;
}

p {
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}


/* HEADER */

header {
    background-image: linear-gradient(rgba(241, 33, 33, 0.507), rgba(214, 206, 206, 0.521)) ,url(../img/capadocce.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 400px;
}


/* NAVBAR */


/* EUROPE */

#europ {
    background: linear-gradient(rgba(255, 0, 0, 0.521), rgba(128, 128, 128, 0.521));
    display: flex;
    align-items: center;
}

#europ h2 {
    margin-top: -20px;
    margin-bottom: 50px;
}

#europ img {
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #262626;
}

#europ .euro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#europ .euro i {
    perspective: 1000px;
    font-size: 120%;
    color: rgb(77, 100, 168);
    animation: globe 3s linear infinite;
}

@keyframes globe {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#europ p {
    width: 600px;
    margin: 20px;
}


/* MOYEN-ORIENT */

#orient .container-fluid {
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 184, 145, 0.548);
}

#orient .container-fluid .desertroad {
    width: 100%;
    height: 40vh;
}

#orient .container-fluid .title {
    width: 100%;
    height: 20vh;
}

#orient .container-fluid .title h2 {
    margin-top: 70px;
}

#orient .cartes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#orient .cartes .round-card {
    display: flex;
    width: 80%;
    height: 80%;
    margin-bottom: 80px;
}

#orient .cartes .round-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #262626;
}

#orient .cartes .round-card p {
    padding-top: 50px;
    margin-left: 15px;
}


/* ASIE */

#asia {
    background: linear-gradient(rgba(255, 166, 0, 0.445), rgba(255, 255, 0, 0.432));
}

#asia .container-fluid {
    width: 100%;
    height: 100vh;
}

#asia .container-fluid .title {
    width: 100%;
    height: 20vh;
}

#asia .container-fluid .title h2 {
    margin-top: 70px;
}

#asia .container-fluid .asie {
    width: 100%;
    height: 80vh;
}

#asia .container-fluid .cino img {
    width: 60%;
    height: 80%;
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 7px;
    object-fit: cover;
    box-shadow: 3px 3px 10px #262626;
}

#asia .container-fluid .cino h4 {
    position: absolute;
    top: 600px;
    left: 0;
    bottom: 0;
    right: 0;
}

/* AFRIQUE */

#africa  {
    background: linear-gradient(rgba(8, 138, 8, 0.486), #26262679);
}

#africa .container-fluid {
    width: 100%;
    height: 100vh;
}

#africa .container-fluid .title {
    width: 100%;
    height: 20vh;
}

#africa .container-fluid .title h2 {
    margin-top: 70px;
}

#africa .cafrica {
    width: 75%;
    margin: 0 auto;
}

#africa .cafrica img {
    height: 550px;
}

/* OCEANIE */

#oceania .container-fluid {
    width: 100%;
    height: 100vh;
    background-color: rgba(111, 163, 168, 0.548);
}

#oceania .container-fluid .whiteheaven {
    width: 100%;
    height: 40vh;
}

#oceania .container-fluid .title {
    width: 100%;
    height: 20vh;
}

#oceania .container-fluid .title h2 {
    margin-top: 70px;
}

#oceania .cartes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oceania .cartes .round-card {
    display: flex;
    width: 80%;
    height: 80%;
    margin-bottom: 80px;
}

#oceania .cartes .round-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #262626;
}

#oceania .cartes .round-card p {
    padding-top: 50px;
    margin-left: 15px;
}

/* AMERIQUE DU NORD */

#north {
    background: linear-gradient(to right, rgba(17, 17, 167, 0.534), rgba(63, 61, 61, 0.438));
}

#north .container-fluid {
    width: 100%;
    height: 100vh;
}

#north .container-fluid h2 {
    margin-top: 70px;
    margin-bottom: 150px;
}

#north .container-fluid .card {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}

/* AMERIQUE DU SUD */

#south .container-fluid {
    width: 100%;
    height: 100vh;
}

#south .container-fluid h2 {
    margin-top: 70px;
    margin-bottom: 150px;
}

#south .sud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#south .sud img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.541);
    margin-bottom: 80px;
}

#south .sud p {
    width: 300px;
}


/* FOOTER */