/* Documents informations 
document : site de voyage
version : 1.0.0
author : Julien*/


/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100vh;
}







/* HEADER */

header .container {
    width: 100%;
    height: 100vh;
}

header .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
